*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!.gitignore
!.scalafmt.conf
!build.sc
!README.md
\!build/*.v

# mill
out/
.bsp/
.idea/
.idea_modules/
.vscode/
test_run_dir/
.bloop/

# plugin
.metals/
